.env
test
/Migrations
/bin
/obj
/OrderService/appsettings.Development.json
/OrderService/appsettings.Production.json
/OrderService/appsettings.*.json
/Gateway/appsettings.Development.json
/Gateway/appsettings.Production.json
/Gateway/appsettings.*.json
/CartService/appsettings.Development.json
/CartService/appsettings.Production.json
/CartService/appsettings.*.json 
/CatalogService/appsettings.Development.json
/CatalogService/appsettings.Production.json
/CatalogService/appsettings.*.json    

